@import "@Assets/global_style"

:local(.ThankYou)
  width 100%
  overflow-y auto
  .thank-you
    rfs-padding-left(25px)
    rfs-padding-right(25px)
    margin-bottom 50px
    display flex
    flex-direction column
    justify-content center
    align-items center
    &__logo
      margin-top 20px
      height 68px
    &__clap
      width 300px
      height 280px
      margin 25px 0
    &__text
      text-align center
      > h2
        margin 10px 0
        color #006557
      > p
        font-weight 300
        font-size 19px
        margin-bottom 18px
        color #4E613A
    &__banner
      margin-top 35px
      &__with__logo
        display flex
        flex-direction column
        align-items center
        justify-content center
        width 100%
        padding 20px 0
        rfs(220px, min-height)
        rfs-padding-left(180px)
        rfs-padding-right(180px)
        background url('@Images/banner1.svg') no-repeat center 
        background-size cover
        background-origin: border-box;
        h3
          rfs-font-size(32px)
          color $color_black
          margin-bottom 8px
          text-align center
          span
            color $sec_normal
        p
          text-align center
          color $sky_grey
    &__priority
      text-align center
      min-width 500px
      margin-top 10px
      p:first-of-type 
        color $sky_grey
        font-weight 500
        rfs-font-size(22px)
        margin 18px 0 15px
      p:nth-of-type(2)
        color #4E613A
        font-weight 300
        rfs-font-size(18px)
        margin-bottom 30px
      &__socials
        display flex
        justify-content space-between
        div[role=button]
          margin 12px
          display flex
          padding 10px 13px
          span 
            order 2
            margin-left 12px
            rfs-font-size(15px)
  @media screen and (max-width: 600px) 
    .thank-you
      &__priority
        min-width 0
        p:first-of-type 
          margin-bottom 10px
          justify-content center
        &__socials
          flex-wrap wrap
          div[role=button]
            flex 1 1
