@import "@Assets/global_style"

:local(.Menu)
  display flex
  justify-content space-between
  align-items center
  margin-bottom 30px
  z-index 2
  position relative

  .menu
    &__logo
      flex-basis 23%

    &__list
      display flex
      align-items center
      justify-content space-between
      width 100%
      flex-basis 77%
      ul
        display flex
        .list-item
          cursor pointer
          padding 10px
          margin 5px
          &.active
            > a
              color $sec_normal_active
          > a
            color $color_white
            &:hover
              padding-bottom 7px
              border-bottom 2px solid $sec_normal_active
              color $sec_normal_active

  @media screen and (max-width: 760px)
    .menu__list.desktop_view
        display none !important
    .mobile_view
        display flex !important
