@import "@Assets/global_style"


:local(.Button)
    padding 20px
    display flex
    align-items center
    justify-content center
    text-align center
    border-radius 10px
    border 1px solid $primary_normal 
    background $primary_normal
    font-size 16px
    color $color_white
    transition 0.3s ease-in

:local(.Primary)
    color $primary_normal
    &:hover 
        background $primary_normal_hover
        border 1px solid $primary_normal_hover
        cursor pointer
    
    &:active
        background $primary_normal_active
        border 1px solid $primary_normal_active

    &.inverse
        background transparent
        &:active
            background $primary_normal_active

        &:hover
            background $primary_normal_hover


:local(.Secondary)
    border 1px solid $sec_normal 
    background $sec_normal
    color $sec_normal

    &.inverse
        background transparent

    &:hover 
        background $sec_normal_hover
        border 1px solid $sec_normal_hover
        cursor pointer
        color $color_white
    
    &:active
        background $sec_normal_active
        border 1px solid $sec_normal_active
