@import "@Assets/global_style"

:local(.Button)
    padding 15px
    display flex
    align-items center
    justify-content center
    text-align center
    border-radius 7px
    border 1px solid $primary_normal 
    background $primary_normal
    font-size 16px
    color $color_white
    transition 0.3s ease-in
    cursor pointer
    &.disabled, &.disabled:hover
        cursor not-allowed
        background #cccccc
        border 1px solid #cccccc
    &.inverse
        background transparent

    @media screen and (max-width: 1000px) {
        padding 12px
    }
    svg
        width 23px
        height 23px
        padding-left 7px
        margin-left 7px

:local(.Primary)
    &:hover 
        background $primary_normal_hover
        border 1px solid $primary_normal_hover
        cursor pointer
    
    &:active
        background $primary_normal_active
        border 1px solid $primary_normal_active

:local(.Secondary)
    border 1px solid $sec_normal 
    background $sec_normal
    &.inverse
        color $sec_normal


    &:hover 
        background $sec_normal_hover
        border 1px solid $sec_normal_hover
        cursor pointer
        color $color_white
    
    &:active
        background $sec_normal_active
        border 1px solid $sec_normal_active
