@import "@Assets/global_style"

:local(.Step)
  display flex
  width 100%
  flex-direction column
  align-items center
  > div
    display flex
    width 100%
  .step
    transition 0.3 ease-in
    flex-direction column
    display flex
    &__header
      display flex
      justify-content space-evenly
    &__items
      height 700px
      flex-direction column
      overflow-y auto
      width 100%
      align-items center
      display flex
      &__child
        display none
        &__current
          display flex
  @media screen and (max-width: 600px)
    .step
      &__items
        &__child
          &__current
            padding-top 0px

:local(.StepTitle)
  flex 1 1
  height 170px
  width 100%
  display flex
  flex-direction column
  align-items center
  justify-content center
  position relative
  padding-bottom 30px
  .step-title
    &__logo
      height 64px
      width 64px
      border-radius 50%
      display flex
      align-items center
      justify-content center
      transition-delay 0.5s
      background #cccccc59
      margin-bottom 15px
      svg
        transition-delay 0.5s
        fill #ccc
        width 25px
        height 28px
    &__text
      color #ccc
      font-weight 600
      transition-delay 0.5s
      font-size 12px
      text-align center
    &__ball
      margin-top 20px
      height 35px
      width 35px
      transition-delay 0.5s
      border-radius 50%
      z-index 10
      background $ash
      position absolute
      bottom 20px
    &__progress_bar
      height auto
      width 100%
      margin-top 30px
      display flex
      justify-content center
    &__progress
      position absolute
      left calc(-50% + 17.5px)
      bottom 26px
      width calc(100% - 35px)
  &.active
    .step-title
      &__logo
        background $primary_light
        svg
          fill $color_black
      &__text
        color $primary_dark
      &__ball
        background $primary_normal
  @media screen and (max-width: 699px) 
    &.active
      .step-title
        display none
    .step-title
      &__logo
        height 45px
        width 45px
        svg
          width 19px
          height 20px
      &__progress_bar
        margin-top 0px
      &__ball
        height 20px
        width 20px
        bottom 36px
      &__progress
        bottom 33px
        left calc(-50% + 10px)
        width calc(100% - 20px)


      
