// Primary color
$primary_normal = #00A991
$primary_light = #e6f6f4
$primary_dark = #007f6d
$primary_darker = #003b33

$primary_normal_hover = #009883
$primary_normal_active = #008774

// Secondary color
$sec_light = #fef5ed
$sec_light_active = #fbdfc7

$sec_normal = #f2994a
$sec_normal_active = #c27a3b
$sec_normal_hover = #da8a43

$sec_dark = #b67338

$sec_darker = #55361a

$color_white = #FFFFFF
$color_black = #000000
$ashh_grey = #F5F5F5
$sky_grey = #737373
$jolly_purple = #6366F1
$milky_white = #FAFAFA
$whitish_grey = #E5E5E5
$dark_green = #032f3c
$bloody_red = #8F1717
$carnelian_red = #B31D1D
$special_grey = #5E6366
$ash = #CFD3D5
$light_grey = #ABAFB1
$storm_green = #0F6B37
$menu_grey = #999999


@keyframes boppingLeft {
  0% {
    left 22%
    }
  50% {
    left 23%
    }
  100% {
    left 22% 
    }
}


@keyframes boppingUp {
  0% {
    bottom 0
    }
  50% {
    bottom 10px
    }
  100% {
    bottom 0 
    }
}
