@import "@Assets/global_style"

:local(.CreateAdminUser)
  display flex
  flex-direction column
  padding 40px 30px 70px
  max-width 600px
  width 600px
  min-width 300px
  flex-direction column
  justify-content center
  align-items center
  .create-admin__title
    margin-bottom 30px
    text-align center
    h4
      color $primary_normal
      font-weight 600
    p
      font-size 16px
      max-width 450px
      margin-top 10px
