@import "@Assets/global_style"

:local(.AccountVerification)
  display flex
  flex-direction column
  width 100%
  align-items center
  margin-top 40px
  h4 
    color $pale_black
    font-weight 600
    font-family 'Roboto', sans-serif
    margin-bottom 30px
  .account-verification
    &__text
      max-width 1100px
      text-align center
      margin-bottom 30px
      color $sky_grey
      padding 0 20px
