@import "@Assets/global_style"

:local(.LenderSignup)
  display flex
  padding 40px 30px 70px
  max-width 600px
  min-width 300px
  flex-direction column
  justify-content center
  align-items center
  .lender-signup__title
    margin-bottom 30px
    text-align center
    h4
      color $primary_normal
      font-weight 600
    p
      font-size 16px
      max-width 450px
      margin-top 10px
  .lender-signup__login
    margin-top 15px
    font-weight 400
    color #5E6366
    a
      color $primary_normal
