@import "@Assets/global_style"
  
:local(.ProgressBar)
  display flex
  width 100%
  background $ash
  margin 10px 0px
  .progressbar
    transition 0.4s ease-in
    border-radius 10px
    height 100%
